body {
	font-family: 'Space Mono', monospace;
	font-size: small;
}

.value-00 {
	background-color: #d5d5d5;
	color: #d5d5d5;
	text-align: center;
}

.value-01 {
	background-color: #d5d5d5;
	color: #0017b9;
	text-align: center;
}

.value-02 {
	background-color: #d5d5d5;
	color: #00ba26;
	text-align: center;
}

.value-03 {
	background-color: #d5d5d5;
	color: #ab0000;
	text-align: center;
}

.value-04 {
	background-color: #d5d5d5;
	color: #0017b9;
	text-align: center;
}

.value-05 {
	background-color: #d5d5d5;
	color: #00ba26;
	text-align: center;
}

.value-06 {
	background-color: #d5d5d5;
	color: #ab0000;
	text-align: center;
}

.value-07 {
	background-color: #d5d5d5;
	color: #0017b9;
	text-align: center;
}

.value-08 {
	background-color: #d5d5d5;
	color: #00ba26;
	text-align: center;
}

.value-09 {
	background-color: #d5d5d5;
	color: #ab0000;
	text-align: center;
}

.value-mine {
	background-color: #d5d5d5;
	color: red;
	text-align: center;
}


/*  --- --- --- --- --- --- ---  */
.grid-conteiner-css {
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(16, 20px);
}


.grid-item {
	border: 1px solid #2e2e2e;
	height: 20px;
	width: 20px;
	
/*
	background-color: #eeeeee;
	color: black;
	text-align: center;
*/
}

.grid-item:hover {
	background-color: #737373;
}

.grid-item-clicked {
	background-color: #ff8181;
}

.grid-item-clicked:hover {
	background-color: #ff4e4e;
}